{
    "extends": [
      "react-app",
      "eslint-config-prettier",
      "prettier"
    ],
    "plugins": ["prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json",
    },
    "rules": {
      "react-hooks/exhaustive-deps": "off"
    }
  }
  