@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';


body {
  background-color: #FCFCFC;
}
.rbc-toolbar{
  padding: 10px;
}
.rbc-btn-group{
  border: 1px solid #E3E6EB;
  padding: 5px;
}

.rbc-toolbar {
  background-color: white;
  margin-bottom: 0px;
}

.rbc-btn-group > button{
  border: transparent;
  background-color: #FCFCFC;
  padding: 12px 20px 12px 20px;
  font-size: 13px;
  line-height: 15.85px;
  font-family: 'Montserrat';
  border-radius: 4px !important;
  color:#4D607A;
  font-weight: 500;
}

.rbc-btn-group button + button {
  margin-left: 5px;

}
.rbc-toolbar button:active, 
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:focus
{
  background-color: #2499EF;
  color:white;
  font-weight: 600;
}


/* .rbc-month-view ,
.rbc-time-view .rbc-time-header
{
  background-color: #FCFCFC !important;
}
 */

 .rbc-month-view , .rbc-time-view {
  border: transparent;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
 }
.rbc-month-view .rbc-row.rbc-month-header .rbc-header ,
.rbc-time-view .rbc-time-header .rbc-time-header-content .rbc-row .rbc-header {
  color:#4D607A;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

