@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

.rbc-toolbar{
  padding: 10px;
}
.rbc-btn-group{
  border: 1px solid #E3E6EB;
  padding: 5px;
}

.rbc-toolbar {
  background-color: white;
  margin-bottom: 0px;
}

.rbc-btn-group > button{
  border: transparent;
  background-color: #FCFCFC;
  padding: 12px 20px 12px 20px;
  font-size: 13px;
  line-height: 15.85px;
  font-family: 'Montserrat';
  border-radius: 4px !important;
  color:#4D607A;
  font-weight: 500;
}

.rbc-btn-group button + button {
  margin-left: 5px;

}
.rbc-toolbar button:active, 
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:focus
{
  background-color: #2499EF;
  color:white;
  font-weight: 600;
}


 .rbc-month-view .rbc-month-row .rbc-row-content .rbc-row .rbc-date-cell .rbc-button-link {
  float: inline-start;
  font-size: 15px;
  font-weight: 500;
  color:#4D607A;
  line-height: 18.29px;
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom:12px;

 }

 .rbc-month-view .rbc-month-row .rbc-row-content .rbc-date-cell.rbc-now .rbc-button-link{
  background-color: #1F84EB;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color:white;
 }

  .rbc-month-view , .rbc-time-view {
  border: transparent;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
 }

.rbc-month-view .rbc-row.rbc-month-header .rbc-header ,
.rbc-time-view .rbc-time-header .rbc-time-header-content .rbc-row .rbc-header {
  color:#4D607A;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: uppercase;
}

.rbc-current-time-indicator {
  background-color: #FC105C;
}

.rbc-current-time-indicator::after {
  background-color: #FC105C;
  content: '';
  width: 10px;
  height: 10px;
  top: -5px;
  left: 0px;
  display: block;
  position: relative;
  border-radius: 50%;
}

.rbc-time-view .rbc-allday-cell {
  display: none ;
}
.rbc-time-view .rbc-time-header .rbc-time-header-content .rbc-row .rbc-header {
  padding:12px 16px 12px 16px;
  height: 60px;
}

.rbc-month-view .rbc-row.rbc-month-header .rbc-header  {
  padding:12px 16px 12px 16px;
}

.rbc-time-content {
  border-top: none;
}

.rbc-header.rbc-today {
  border-top: 3px solid #1F84EB;
  background-color: #F1F9FF
}

.rbc-today {
  background-color: white

}
.rbc-time-header-cell-single-day {
  display: block;
}

.rbc-time-header-cell-single-day .rbc-header.rbc-today{
  border-top: none;
  background-color: white

}
.rbc-off-range-bg {
  background-color: #e6e6e6 !important;
}
.rbc-show-more {
  background-color: unset;
}
.rbc-day-slot .rbc-events-container  {
  margin-right: 0px;
}
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group{
  border-bottom:none
}
.rbc-events-container .rbc-event-label{
  display: none;
}